{% extends 'Youtube/base.html' %}
{% block title %}
    Search with filters
{% endblock %}

{% block content %}
    <div id="header-block"><h1>Youtube <span>can</span> search with <span>human</span> filters</h1></div>


    {% include 'Youtube/filterForm.html' %}

    {% for item in content %}

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                </div>
                <div class="col-md-auto">
                    <div class="card mb-3 card-search">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="https://www.youtube.com/watch?v={{ item.id.videoId }}"><img
                                        src="{{ item.snippet.thumbnails.high.url }}" alt="..." , width="260px" ,
                                        height="180px"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="https://www.youtube.com/watch?v={{ item.id.videoId }}">{{ item.snippet.title }}</a>
                                    </h5>
                                    <p class="card-text">{{ item.snippet.description }}</p>
                                    <p class="card-text"><small
                                            class="text-muted">{{ item.snippet.publishTime }}</small></p>
                                    <button type="button" class="btn btn-secondary btn-sm">detail</button>


                                    <div class="card" id="card-detail-{{ forloop.counter }}" style="display: none">
                                        <div class="card-body">
                                            This is some text within a card body.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2">
                </div>
            </div>
        </div>












    {% endfor %}




{% endblock %}